*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none;

}

header li a:hover{
    color: #c4b386;
    font-weight: bold;
    font-size: 110%;

}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}

.articles article img{
    width: 100%;
    border: solid;
    border-width: 3px;
    border-radius: 15px;
}

.articles article{
    width:30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3 {
    margin: 8px 0;
}

.articles article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 8px 25% 0 25%;
    border-radius: 10px;
    text-align: center;


    
}

.articles article a:hover{
    text-decoration:underline;
    font-size: 110%;
}

.article article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
    text-align: center;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0,255,0,0.1);
}

#sports .articles article a{
    background-color: #009432;
    color: rgb(244, 244, 244);
}

#economy{
    background-color: #f8f59f;
}

#economy .articles article a{
    background-color: #ff9f1a;
}

#entertainment {
    background-color: rgba(2, 2, 255, 0.1);
}

#entertainment .articles article a{
    background-color: rgba(56, 3, 90, 0.9);
}

#tech {
    background-color: rgba(255, 0, 98, 0.14);

}

#tech .articles article a{
    background-color: rgba(103, 6, 0, 0.9);
    color: rgb(250, 245, 245);
}